body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #ffffff;
  /*padding-top: 60px;*/
}

.layout_padding {
  padding-top: 50px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.about_layout{
  padding-top: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.heading_container h2 {
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55px;
  height: 5px;
  background-color: #ff2953;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* My Own Css */
.circle-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Adjust according to your layout */
}

.circle-image {
  width: 200px; /* Set width to desired size */
  height: 200px; /* Set height to desired size */
  border-radius: 50%; /* This makes the image circular */
  object-fit: cover; /* Ensures the image covers the circle properly */
  border: 2px solid #000; /* Optional: Add a border to the image */
}
 

/*header section*/
.header_nav {
  background-color: #f4f4f4;
 position: fixed;  
   /*top: 0;   */
  width: 100%;  
  z-index: 1000;
}
.hero_area {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*background-color: #ff2953;*/
  background-image: url(../images/home.jfif);
  background-size: cover;
  background-attachment: fixed;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .who_section.layout_padding {
  padding-top: 0;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 10px 30px;
  padding: 0;
  padding-bottom: 3px;
  color: #000000;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ffffff;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active a::after, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover a::after {
  display: block;
  background-color: #ff2953;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option a {
  color: #ffffff;
  margin: 10px 30px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar-brand span {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  position: relative;
  z-index: 3;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/list.svg);
  background-size: 55px;
}

/*end header section*/
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .box {
  margin: 125px 0;
}

.slider_section .detail-box {
  text-align: center;
}

.slider_section .detail-box h1,
.slider_section .detail-box h2,
.slider_section .detail-box h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.slider_section .detail-box h2 {
  font-size: 2.5rem;
}

.slider_section .detail-box h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .5rem;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
}

.slider_section .detail-box a:hover {
  background-color: #ffffff;
  color: #000000;
}

.slider_section #carouselExampleIndicators .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #carouselExampleIndicators .carousel-indicators li {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
}

.slider_section #carouselExampleIndicators .carousel-indicators li.active {
  border: 4px solid #ffffff;
}

.us_section {
 /* background-image: url(../images/SERVICES.jpg);*/
 
  background-size: cover;
  background-attachment: fixed;
  color: #7a6f6f;
}
 
.us_section .card{
  width: 223px;
  height: 227px;
  left: 35px;
  gap: 0px;
  opacity: 0px;
  background: #FFFFFF;
  
}
.us_section .card h2{
   
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
   color: #AB6600;
  ;
}



.us_section .us_container {
  padding-top: 25px;
}

.us_section .us_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 25px 10px 0 10px;
}

.us_section .us_container .box .img-box {
  height: 100px;
  width: 100px;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          overflow: hidden;
}
.us_section .us_container .box .img-box-detail {
  height: 100px;
  width: 100px;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
           
}
.us_section .us_container .box .img-box-detail img {
  padding-top: 50px;
  padding-bottom: 50px;
}

.us_section .us_container .box .web-detail-box h5 {
 
  font-weight: bold;
  /*color: #ffffff70;*/
  transition: color 0.3s ease;
   
}
.us_section .us_container .box .img-box img {
  max-width: 100%;
  object-fit: cover;
}

.us_section .us_container .box .web-detail-box h5:hover {
  color: #AB6600; /* Change to red on hover */
  font-weight: bold;
  mix-blend-mode: normal;
}

.us_section .us_container .box .detail-box h5 {
  margin-top: 15px;
  font-weight: bold;
  /*color: #ffffff70;*/
  transition: color 0.3s ease;
   
}
.us_section .us_container .box .detail-box h5:hover {
  color: #AB6600; /* Change to red on hover */
  font-weight: bold;
  mix-blend-mode: normal;
}

h5:hover {
  color: #AB6600; /* Change to red on hover */
  font-weight: bold;
  mix-blend-mode: normal;
}


.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 120px;
  margin: 0;
}

.container1 {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: cover;
  padding-top: 20px;
}

.logo img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 20%;
  overflow: hidden;
  object-fit: cover;

}

.logo:hover {
  transform: scale(1.1);
}


.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0; /* Optional: adjust if there's a gap */
}

.banner {
  position: relative;
  width: 100%;
  height: 575px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the image behind the text */
}
.banner h1 {
  font-size: 4rem;
  background-color: #7a6f6f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner h1:hover {
  color: #FFD700; /* Change color on hover */
  transition: color 0.3s ease;
}


 

.card-custom {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}
.card-custom:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.card-custom img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.card-custom .card-body {
  padding: 20px;
}
.card-custom .card-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-custom .card-text {
  color: #6c757d;
}

.heathy_section {
  background-image: url(../images/solutions.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  padding-bottom: 15px;
}


.technology_section {
  /*background-image: url(../images/healthy-bg.jpg);*/
  background-size: cover;
  background-attachment: fixed;
  color: #ec1212;
  text-align: center;
  padding-bottom: 30px;
}
.technology_section h2 {
  padding-bottom: 25px;
  padding-top:15px ;
  color: #ff2953;
}

.heathy_section h2 {
  font-weight: bold;
  padding-bottom:35px ;
}

.heathy_section h5 {
  padding-bottom: 25px;
  padding-top:35px ;
}

.heathy_section p {
  margin-top: 35px;
}

.heathy_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.heathy_section .btn-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-transform: uppercase;
}

.heathy_section .btn-box a:hover {
  background-color: #ffffff;
  color: #000000;
}

.trainer_section {
  background-image: url(../images/trainer-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.trainer_section .box {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.trainer_section .box .name h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

.trainer_section .box .img-box {
  border-radius: 15px;
  overflow: hidden;
}

.trainer_section .box .img-box img {
  width: 100%;
}

.trainer_section .box .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 225px;
  padding: 12px 45px;
  background-color: #ffffff;
  border-radius: 50px;
  margin-top: -25px;
}

.contact_section {
  position: relative;
  background-color: #27223f;
  color: #ffffff;
}

.contact_section .heading_container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact_section .heading_container h2::before {
  text-align: left;
  left: 0;
  -webkit-transform: none;
          transform: none;
}

.contact_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .img-box img {
  width: 100%;
}

.contact_section .form_container {
  padding: 45px 0 45px 15px;
}

.contact_section input {
  width: 100%;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #000000;
  margin-top: 25px;
  padding: 12px;
}

.contact_section input::-webkit-input-placeholder {
  color: #2a2a2c;
}

.contact_section input:-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::placeholder {
  color: #2a2a2c;
}

.contact_section input.message-box {
  padding: 45px 12px;
}

.contact_section button {
  padding: 10px 65px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #ff2953;
  margin: 45px 0 0 auto;
  text-transform: uppercase;
}
.contact_padding{
  padding-top: 120px;
}

.info_section {
  background-color: #025F93;
}

.info_items {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.info_items .item .detail-box {
  margin-top: 5px;
  color: #fff;
}

.info_items {
  position: relative;
}

.info_items .item  a {
  position: relative;
  color: white;
}

.info_items .item .img-box.box-1 {
  background-image: url(../images/location-white.png);
}

.info_items .item .img-box.box-2 {
  background-image: url(../images/telephone-white.png);
}

.info_items .item .img-box.box-3 {
  background-image: url(../images/envelope-white.png);
}

.web-design-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container {
  margin-left: 10px;
  max-width: 300px;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container h2 {
  color: #2a6496;
}

 

.text-container ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

 

/* footer section*/
.footer_section {
  background-color: #fbfdfd;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */